@import "./utilities/variables";
@import "./base/generales";
@import "./utilities/keyframe";
@import "./utilities/maps";
@import "./utilities/mixins";
@import "./base/sweetAlert";
@import "./base/header";
@import "./pages/home";
@import "./pages/productos";
@import "./pages/servicios";
@import "./pages/empresa";
@import "./pages/contacto";
@import "./pages/error";
@import "./pages/shop";
@import "./pages/listadoShop";
@import "./base/footer";
@import "./mediaQ/mediaq";
@import "./mediaQ/shopmediaq";